[Desktop Entry]
Name=Hugin Toolbox
Comment=Several small tools for image processing
GenericName=Hugin Toolbox
Categories=Graphics;
Exec=hugin_toolbox
Icon=hugin
StartupNotify=false
Terminal=false
Type=Application
